
<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<hr>
<h5>New task:</h5>
  <%= form_for [@user, @task] do |f| %>
  <%= f.label :name, "Task Name: " %><br>
  <%= f.text_field :name %><br>

  <%= f.label :description, "Task Description: " %><br>
  <%= f.text_field :description %><br>

  <%= f.label :due_date, "Due date: " %><br>
  <%= f.text_field :due_date %><br>

  <%= f.submit %>
  <%end%>
<h3>My tasks</h3>
  <ol>
  <% @user.tasks.order(created_at: :desc).each do |task|%>
    <li><%= task.name %></li>
    <p><%= task.description %></p>
    <p><%= task.due_date %></p>
    <p><%= link_to 'Destroy', user_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td></p>
  <%end%>
  </ol>

